# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gravity4ai?schema=public"

# Auth
NEXTAUTH_SECRET="development-secret-gravity4ai-min-32-characters"
NEXTAUTH_URL="http://localhost:3000"

# Site Config
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
